astroid==2.4.2
autopep8==1.5.4
baidu-aip==2.2.18.0
baidu-api==0.0.2
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
Crypto==1.4.1
demjson==2.2.4
idna==2.10
isort==5.7.0
lazy-object-proxy==1.4.3
mccabe==0.6.1
mysql-connector==2.2.9
Naked==0.1.31
Pillow==8.1.0
pycodestyle==2.6.0
pycryptodome==3.9.9
pylint==2.6.0
PyQt6==6.0.0
PyQt6-sip==13.0.0
PyYAML==5.3.1
redis==3.5.3
requests==2.25.1
shellescape==3.8.1
six==1.15.0
tencentcloud-sdk-python==3.0.334
toml==0.10.2
urllib3==1.26.2
wrapt==1.12.1
